@using Service;
@using Service.DTO;
@model IEnumerable<CalisanDTO>;
@{
    Layout = "~/Views/Shared/_Layout_Yonetici.cshtml";
    ViewBag.Title = "Calışanlar";
}

  

    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "İşlem Başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }
<div class="pagetitle">
    <h1 style="display:contents">Çalışan Yönetimi</h1>
    <button style="display:inline-block; margin-top:-10px; margin-left:20px;" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal1">Çalışan Ekle</button>

</div>
   
@using (Html.BeginForm("CalisanY", "Sayfalar", FormMethod.Post))
{
    <div class="row g-3">
        <div class="col-md-3">
            <input id="tcsearch" class="form-control" type="text" name="TC" placeholder=" TC Filtrele...">
        </div>
        <div class="col-md-3">
            <input id="tarih" class="form-control" type="text" name="Adi" placeholder=" Ad ile Filtrele...">
        </div>
        <div class="col-md-3">
            <input id="tarih" class="form-control" type="text" name="unvan" placeholder=" Ünvan ile Filtrele...">
        </div>
        <div class="col-md-3">
            <button name="tip" class="form-control btn-sm" value="5" style="background-color:lightgrey" id="searchButton">Filtrele</button>
        </div>
    </div>
}


    <label id="label1"></label>
<table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-top:30px;">
        <thead>
            <tr>
                <th class="th-sm">
                    ID
                </th>
                <th class="th-sm">
                    TC
                </th>
                <th class="th-sm">
                    Adı Soyadı
                </th>
                <th class="th-sm">
                    Adres
                </th>
                <th class="th-sm">
                    Ünvan
                </th>
                <th class="th-sm">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Label(item.CalisanID.ToString())
                    </td>
                    <td>
                        @Html.Label(item.TC.ToString())
                    </td>
                    <td>
                        @Html.Label(item.AdiSoyadi.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Adres.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Ünvan.ToString())
                    </td>
                    <td>
                        <button id="btnekle" class="btn btn-primary btn-sm" onclick="getRowData(this)" data-toggle="modal" data-target="#exampleModal">Güncelle</button>
                    </td>
                </tr>

            }

        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:650px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Calışan Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div >
                        @using (Html.BeginForm("CalisanY", "Sayfalar", FormMethod.Post))
                        {
                        <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"> Calışan ID</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="calisanid" type="text" required="" name="CalisanID" readonly />
                            </div>
                        </div>
                        <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"> TC</label>
                        <div class="col-sm-10">

                            <input class="form-control" id="TC" type="text" required="" name="TC" />
                            </div>
                        </div>
                        <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"> AdiSoyadi</label>
                        <div class="col-sm-10">

                            <input class="form-control" id="adi" type="text" required="" name="AdiSoyadi" />
                            </div>
                        </div>
                        <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"> Adres</label>
                        <div class="col-sm-10">

                            <input class="form-control" id="adres" type="text" required="" name="Adres" />
                            </div>
                        </div>
                        <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"> Ünvan</label>
                        <div class="col-sm-10">

                            <input class="form-control" id="Ünvan" type="text" required="" name="Ünvan" />
                            </div>
                        </div>
                        <div class="col-sm-10" hidden="hidden">
                         <input class="form-control" id="güncelle" type="text" required="" name="tip" value="1" />
                            </div>
                            <button style="display:inline-block; margin-top:10px;"class="btn btn-danger btn-block btn-sm" type="submit">Sil</button>
                            <button  style="margin-top:10px;" class="btn btn-danger btn-block btn-sm" onclick="selector()" type="submit">Güncelle</button>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:650px">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Calışan Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <div >
                        @using (Html.BeginForm("CalisanY", "Sayfalar", FormMethod.Post))
                        {
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> TC</label>
                            <div class="col-sm-10">

                                <input class="form-control" id="TC" type="text" required="" name="TC" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> AdiSoyadi</label>
                            <div class="col-sm-10">

                                <input class="form-control" id="adi" type="text" required="" name="AdiSoyadi" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> Adres</label>
                            <div class="col-sm-10">

                                <input class="form-control" id="adres" type="text" required="" name="Adres" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> Ünvan</label>
                            <div class="col-sm-10">

                                <input class="form-control" id="Ünvan" type="text" required="" name="Ünvan" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label"> Uzmanlık</label>
                            <div class="col-sm-10">

                                <input class="form-control" placeholder="Eğer Diş Hekimi Girmeyecekseniz Lütfen Boş Bırakın" id="Ünvan" type="text" name="Uzmanlık" />
                            </div>
                        </div>
                            <button style="display:inline-block; margin-top:10px;" class="btn btn-danger btn-block" type="submit">EKLE</button>
                            
                        }
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>


<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        margin-left: -550px;
        margin-top: -100px;
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }
</style>


@section SayfaiciJS{
    <script>
        function getRowData(button) {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz
            var row = button.parentNode.parentNode;

            // Satırdaki verileri çekmek için <td> öğelerini buluyoruz
            var cells = row.getElementsByTagName("td");

            // Verilere erişmek için sütun indekslerini kullanabilirsiniz (örneğin, cells[0].innerText sütun 1'in içeriğini verir)
            var data1 = cells[0].innerText;
            var data2 = cells[1].innerText;
            var data3 = cells[2].innerText;
            var data4 = cells[3].innerText;
            var data5 = cells[4].innerText;

            var lbl1 = document.getElementById("calisanid");
            var lbl2 = document.getElementById("TC");
            var lbl3 = document.getElementById("adi");
            var lbl6 = document.getElementById("adres");
            var lbl4 = document.getElementById("Ünvan");
            lbl1.value = data1;
            lbl2.value = data2;
            lbl3.value = data3;
            lbl4.value = data5;
            lbl6.value = data4;
            // ... Diğer işlemler ...
        }
        function selector() {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz

            var lbls = document.getElementById("güncelle");
            lbls.value = 2;

            // ... Diğer işlemler ...
        }
        function doktor() {

            let element1 = document.getElementById("divdoktor");
            let hidden1 = element1.getAttribute("hidden");

            if (hidden1) {
                element1.removeAttribute("hidden");
            } else {
                element1.setAttribute("hidden", "hidden");
            }


        }
    </script>
}