@using Service;
@{
    Layout = "~/Views/Shared/_Layout_HastaKayit.cshtml";
    ViewBag.Title = "Hastalar";
}
<html lang="tr">
<head>

    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="~/js/script.js"></script>
    <script>
        function getRowData(button) {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz
            var row = button.parentNode.parentNode;

            // Satırdaki verileri çekmek için <td> öğelerini buluyoruz
            var cells = row.getElementsByTagName("td");

            // Verilere erişmek için sütun indekslerini kullanabilirsiniz (örneğin, cells[0].innerText sütun 1'in içeriğini verir)
            var data1 = document.getElementById("btgün").value;
            var data2 = cells[0].innerText;
            var data3 = cells[1].innerText;
            var data4 = cells[2].innerText;
            var data5 = cells[3].innerText;
            var data6 = cells[4].innerText;

            var lbl1 = document.getElementById("hastaid");
            var lbl2 = document.getElementById("TC");
            var lbl3 = document.getElementById("adi");
            var lbl6 = document.getElementById("iletisim");
            var lbl4 = document.getElementById("dogumtarihi");
            var lbl5 = document.getElementById("cinsiyet");
            lbl1.value = data1;
            lbl2.value = data2;
            lbl3.value = data3;
            lbl4.value = data5;
            lbl6.value = data4;
            lbl5.value = data6;
            // ... Diğer işlemler ...
        }
        function getRowData1(button) {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz
            var row = button.parentNode.parentNode;

            // Satırdaki verileri çekmek için <td> öğelerini buluyoruz
            var cells = row.getElementsByTagName("td");
            // Verilere erişmek için sütun indekslerini kullanabilirsiniz (örneğin, cells[0].innerText sütun 1'in içeriğini verir)
            var data1 = cells[0].innerText;


            var lbls = document.getElementById("hastaidsil");
            lbls.value = data1;

            // ... Diğer işlemler ...
        }
        function getRowDataD(button) {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz
            var row = button.parentNode.parentNode;

            // Satırdaki verileri çekmek için <td> öğelerini buluyoruz
            var cells = row.getElementsByTagName("td");

            // Verilere erişmek için sütun indekslerini kullanabilirsiniz (örneğin, cells[0].innerText sütun 1'in içeriğini verir)
            var data1 = cells[0].innerText;
            $.ajax({
                type: "POST",
                url: "/Sayfalar/HastaIDHK",
                data: { value: data1 },
                success: function (response) {
                    console.log("TempData value set successfully.");
                },
                error: function (error) {
                    console.error("Error setting TempData value:", error);
                }
            });
            

        }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>DHBS Sistemi</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <script src="/jss.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <script>

    </script>

    <!-- Custom styles for this template -->
    <link href="/dashboard.css" rel="stylesheet">
    <style type="text/css">
        /* Chart.js */
        -webkit-keyframes chartjs-render-animation {
            from

        {
            opacity: 0.99
        }

        to {
            opacity: 1
        }

        }

        keyframes chartjs-render-animation {
            from

        {
            opacity: 0.99
        }

        to {
            opacity: 1
        }

        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>


    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "Hasta ekleme Başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }
</head>

<body>

    <div id="divtablo" >
        <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-left:70px; margin-top:-280px;">
            <thead>
                <tr>
                    <th class="th-sm">
                        TC
                    </th>
                    <th class="th-sm">
                        Adı Soyadı
                    </th>
                    <th class="th-sm">
                        İletişim
                    </th>
                    <th class="th-sm">
                        Doğum Tarihi
                    </th>
                    <th class="th-sm">
                        Cinsiyet
                    </th>
                    <th class="th-sm">

                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    Hasta hasta1 = new Hasta();
                }
                @foreach (var itemx in hasta1.Lists("select * from Hasta where Status='Active'"))
                {
                    <tr>
                        <td>
                            @Html.Label(itemx.TC.ToString())
                        </td>
                        <td>
                            @Html.Label(itemx.AdiSoyadi.ToString())
                        </td>
                        <td>
                            @Html.Label(itemx.Iletisim.ToString())
                        </td>
                        <td>
                            @Html.Label(itemx.DogumTarihi.Day.ToString()+"/"+itemx.DogumTarihi.Month.ToString()+"/"+itemx.DogumTarihi.Year.ToString())

                        </td>
                        <td>
                            @Html.Label(itemx.Cinsiyet.ToString())
                        </td>
                        <td>
                            <button id="btgün" class="btn btn-primary btn-sm" onclick="getRowData(this)" value="@itemx.hastaid" data-toggle="modal" data-target="#exampleModal">Güncelle</button>
                            <button id="sil" class="btn btn-primary btn-danger" onclick="getRowData1(this)" value="@itemx.hastaid" data-toggle="modal" data-target="#exampleModal2">Sil</button>
                           <div style="display:inline; " > @using (Html.BeginForm("RandevularHK", "Sayfalar", FormMethod.Post))
                            {
                                    <button style="width: 120px; height: 30px; display: block;margin-top: 2px;" class="btn btn-primary btn-warning" value="@itemx.TC" name="TC">Randevu Ekle</button>
                            }
                            </div>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Hasta Kayıt Güncelle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="margin-left:110px; margin-top:0px;">
                        @using (Html.BeginForm("HastaGüncelle", "Sayfalar", FormMethod.Post))
                        {

                            <label> TC</label>
                            <div class="input-group">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                <input id="TC" type="text" required="" name="TC" readonly />
                            </div>
                            <label> AdiSoyadi</label>
                            <div class="input-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <input id="adi" type="text" required="" name="AdiSoyadi" readonly />
                            </div>
                            <label> Iletisim</label>
                            <div class="input-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <input id="iletisim" type="text" required="" name="Iletisim" />
                            </div>
                            <label> DoğumTarihi(aa/gg/yyyy)</label>
                            <div class="input-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <input id="dogumtarihi" type="datetime" name="DogumTarihi" readonly />
                            </div>
                            <label> Cinsiyet</label>
                            <div class="input-group">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <input id="cinsiyet" type="text" required="" name="Cinsiyet" readonly />
                            </div>
                            <label style="visibility:hidden"> HastaID</label>
                            <div style="visibility:hidden" class="input-group">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                <input id="hastaid" type="text" required="" name="HastaID" readonly />
                            </div>
                            <button class="btn btn-danger btn-block" type="submit">Güncelle</button>

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Hasta Sil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="margin-left:110px; margin-top:0px;">
                        @using (Html.BeginForm("HastaGüncelle", "Sayfalar", FormMethod.Post))
                        {
                            <label> Silmek istediğinize emin misiniz?</label>
                            <div class="input-group">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                <input id="hastaidsil" type="text" required="" name="TC" style="visibility:hidden;" readonly />
                            </div>
                            <button style="margin-left:100px;" class="btn btn-danger btn-block" type="submit">Onayla</button>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        margin-left: -340px;
        margin-top: -250px;
    }

    div.dataTables_wrapper div.dataTables_length {
        margin-left: 90px;
        margin-top: 10px;
        visibility: hidden;
    }

    div.dataTables_info {
        visibility: hidden;
    }

</style>
