@using Service;
@using Service.DTO;
@model IEnumerable<HastaDTO>;
@{
    Layout = "~/Views/Shared/_Layout_HastaKayit.cshtml";
    ViewBag.Title = "Hastalar";
}

    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "Hasta ekleme Başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }
    }
<div class="pagetitle">
    <h1>Hasta İşlemleri</h1>
</div>
        @using (Html.BeginForm("HastaGüncelle", "Sayfalar", FormMethod.Post))
        {
              <div class="row g-3">   
            <div class="col-md-5">
                <input id="tcsearch" class="form-control" type="text" name="TC" placeholder=" TC Filtrele...">
            </div>
            <div class="col-md-5">
                <input id="tarih" class="form-control"  type="text" name="Adi" placeholder=" Ad ile Filtrele...">
            </div>
            <div class="col-md-2">
                <button name="tip" class="form-control btn-sm" value="5" style="background-color:lightgrey" id="searchButton">Filtrele</button>
            </div>
            </div>
        }

    <div id="divtablo" style="margin-top:30px;">
        <table id="tablo1" class="table table-hover">
            <thead>
                <tr>
                    <th class="th-sm">
                        TC
                    </th>
                    <th class="th-sm">
                        Adı Soyadı
                    </th>
                    <th class="th-sm">
                        İletişim
                    </th>
                    <th class="th-sm">
                        Doğum Tarihi
                    </th>
                    <th class="th-sm">
                        Cinsiyet
                    </th>
                    <th class="th-sm">

                    </th>
                </tr>
            </thead>
            <tbody>
            @try
            {
                @foreach (var itemx in Model)
                {
                    <tr>
                        <td>
                            @Html.Label(itemx.TC.ToString())
                        </td>
                        <td>
                            @Html.Label(itemx.AdiSoyadi.ToString())
                        </td>
                        <td>
                            @Html.Label(itemx.Iletisim.ToString())
                        </td>
                        <td>
                            @Html.Label(itemx.DogumTarihi.Year.ToString()+"-"+itemx.DogumTarihi.ToString("MM")+"-"+itemx.DogumTarihi.ToString("dd"))

                        </td>
                        <td>
                            @Html.Label(itemx.Cinsiyet.ToString())
                        </td>
                        <td>
                            <button id="btgün" style="height: 38px;" class="btn btn-primary btn-sm" onclick="getRowData(this)" value="@itemx.hastaid" data-toggle="modal" data-target="#exampleModal">Güncelle</button>
                            <button id="sil" style="width: 60px;" class="btn btn-primary btn-danger" onclick="getRowData1(this)" value="@itemx.hastaid" data-toggle="modal" data-target="#exampleModal2">Sil</button>
                            <div style="display:block;" > @using (Html.BeginForm("RandevularHK", "Sayfalar", FormMethod.Post))
                                {
                                    <button style="width: 140px; height: 37px; display: block;margin-top: 2px;" class="btn btn-sm btn-primary btn-warning" value="@itemx.TC" name="TC">Randevu Ekle</button>
                                }
                            </div>
                        </td>
                    </tr>

                }
            }catch{



}

            </tbody>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Hasta Kayıt Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    

                        @using (Html.BeginForm("HastaGüncelle", "Sayfalar", FormMethod.Post))
                        {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Hasta Kayıt Formu</h5>
                            <label> TC</label>
                            <div class="col-12">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                <input class="form-control" id="TC" type="text" required="" name="TC" readonly />
                            </div>
                            <label> AdiSoyadi</label>
                            <div class="col-12">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <input class="form-control" id="adi" type="text" required="" name="AdiSoyadi" readonly />
                            </div>
                            <label> Iletisim</label>
                            <div class="col-12">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <input class="form-control" id="iletisim" type="text" required="" name="Iletisim" />
                            </div>
                            <label> DoğumTarihi(aa/gg/yyyy)</label>
                            <div class="col-12">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                            <input class="form-control" id="dogumtarihi" type="datetime" name="DogumTarihi" readonly />
                            </div>
                            <label> Cinsiyet</label>
                            <div class="col-12">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                            <input class="form-control" id="cinsiyet" type="text" required="" name="Cinsiyet" readonly />
                            </div>
                            <label style="visibility:hidden"> HastaID</label>
                            <div style="visibility:hidden" class="col-12">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                            <input class="form-control" id="hastaid" type="text" required="" name="HastaID" readonly />
                            </div>
                            <button class="btn btn-danger btn-block btn-sm" type="submit">Güncelle</button>
                            </div>
                            </div>
                        }

                    

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Hasta Sil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="margin-left:110px; margin-top:0px;">
                        @using (Html.BeginForm("HastaGüncelle", "Sayfalar", FormMethod.Post))
                        {
                            <label> Silmek istediğinize emin misiniz?</label>
                            <div class="input-group">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                <input id="hastaidsil" type="text" required="" name="TC" style="visibility:hidden;" readonly />
                            </div>
                            <button style="margin-left:100px;" class="btn btn-sm btn-danger btn-block" type="submit">Onayla</button>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>

<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }

    div.dataTables_info {
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }

</style>
@section SayfaiciJS{
    <script>
        function getRowData(button) {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz
            var row = button.parentNode.parentNode;

            // Satırdaki verileri çekmek için <td> öğelerini buluyoruz
            var cells = row.getElementsByTagName("td");

            // Verilere erişmek için sütun indekslerini kullanabilirsiniz (örneğin, cells[0].innerText sütun 1'in içeriğini verir)
            var data1 = document.getElementById("btgün").value;
            var data2 = cells[0].innerText;
            var data3 = cells[1].innerText;
            var data4 = cells[2].innerText;
            var data5 = cells[3].innerText;
            var data6 = cells[4].innerText;

            var lbl1 = document.getElementById("hastaid");
            var lbl2 = document.getElementById("TC");
            var lbl3 = document.getElementById("adi");
            var lbl6 = document.getElementById("iletisim");
            var lbl4 = document.getElementById("dogumtarihi");
            var lbl5 = document.getElementById("cinsiyet");
            lbl1.value = data1;
            lbl2.value = data2;
            lbl3.value = data3;
            lbl4.value = data5;
            lbl6.value = data4;
            lbl5.value = data6;
            // ... Diğer işlemler ...
        }
        function getRowData1(button) {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz
            var row = button.parentNode.parentNode;

            // Satırdaki verileri çekmek için <td> öğelerini buluyoruz
            var cells = row.getElementsByTagName("td");
            // Verilere erişmek için sütun indekslerini kullanabilirsiniz (örneğin, cells[0].innerText sütun 1'in içeriğini verir)
            var data1 = cells[0].innerText;


            var lbls = document.getElementById("hastaidsil");
            lbls.value = data1;

            // ... Diğer işlemler ...
        }
        function getRowDataD(button) {
            // Butona tıklanan satırdaki verileri almak için ebeveyn (<tr>) öğesini buluyoruz
            var row = button.parentNode.parentNode;

            // Satırdaki verileri çekmek için <td> öğelerini buluyoruz
            var cells = row.getElementsByTagName("td");

            // Verilere erişmek için sütun indekslerini kullanabilirsiniz (örneğin, cells[0].innerText sütun 1'in içeriğini verir)
            var data1 = cells[0].innerText;
            $.ajax({
                type: "POST",
                url: "/Sayfalar/HastaIDHK",
                data: { value: data1 },
                success: function (response) {
                    console.log("TempData value set successfully.");
                },
                error: function (error) {
                    console.error("Error setting TempData value:", error);
                }
            });


        }
    </script>

    <script>

        $(document).ready(function () {
            var table = $('#tablo1').DataTable();
            $('#searchDateButton').on('click', function () {
                var customDate = $('#customDateFilter').val();
                console.log(customDate);
                table.column(3).search(customDate, true, false).draw();
            });
        });
    </script>





}
