@using Service;
@using Service.DTO;
@model IEnumerable<HastaDTO>

@{
    Layout = "~/Views/Shared/_Layout_HastaKayit.cshtml";
    ViewBag.Title = "Islemler";
}


<div class="pagetitle">
    <h1>Hasta İşlemlerini Görüntüle</h1>
</div>
@using (Html.BeginForm("IslemlerHK", "Sayfalar", FormMethod.Post))
{
    <div class="row g-3">
        <div class="col-md-5">
            <input id="tcsearch" class="form-control" type="text" name="TC" placeholder=" TC Filtrele...">
        </div>
        <div class="col-md-5">
            <input id="tarih" class="form-control" type="text" name="Adi" placeholder=" Ad ile Filtrele...">
        </div>
        <div class="col-md-2">
            <button name="tip" class="form-control" value="1" style="background-color:lightgrey" id="searchButton">Filtrele</button>
        </div>
    </div>
}
    <label id="label1"></label>
    <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap">
        <thead>
            <tr>
                <th class="th-sm">
                    ID
                </th>
                <th class="th-sm">
                    TC
                </th>
                <th class="th-sm">
                    Adı Soyadı
                </th>
                <th class="th-sm">
                    İletişim
                </th>
                <th class="th-sm">
                    Doğum Tarihi
                </th>
                <th class="th-sm">
                    Cinsiyet
                </th>
                <th class="th-sm">

                </th>
            </tr>
        </thead>
        <tbody>
            @{
               
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Label(item.hastaid.ToString())
                    </td>
                    <td>
                        @Html.Label(item.TC.ToString())
                    </td>
                    <td>
                        @Html.Label(item.AdiSoyadi.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Iletisim.ToString())
                    </td>
                    <td>
                        @Html.Label(item.DogumTarihi.Day.ToString()+"/"+item.DogumTarihi.Month.ToString()+"/"+item.DogumTarihi.Year.ToString())

                    </td>
                    <td>
                        @Html.Label(item.Cinsiyet.ToString())
                    </td>
                    <td>
                        <button id="btnekle" class="btn btn-primary btn-sm" onclick="getRowDataD(this)" data-toggle="modal" data-target="#exampleModal">Tüm İşlemleri Görüntüle</button>
                    </td>
                </tr>

            }

        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:750px;margin-left:-80px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Hasta İşlemleri</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="margin-top:-40px">
                        <table id="tablodetay" class="table table-striped table-bordered dt-resposive nowrap" style="margin-left:10px; margin-top:0px;">
                            <label hidden="hidden" id="myLabel"></label>
                            <thead>
                                <tr>
                                    <th class="th-sm">
                                        Hasta ID
                                    </th>
                                    <th class="th-sm">
                                        Hasta Adı Soyadı
                                    </th>
                                    <th class="th-sm">
                                        İslem Açıklaması
                                    </th>
                                    <th class="th-sm">
                                        Tarih
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    Islemler ıslemler = new Islemler();

                                }
                                @foreach (var item in ıslemler.Lists("select I.HastaID,I.IslemGrubuID,I.IslemID,[Adı Soyadı] as adhasta,I.IslemAciklamasi,Tarih,c.CalisanID,c.AdiSoyadi,I.DrAciklaması from vw_IslemlerDR I join Calisan c on c.AdiSoyadi=I.AdiSoyadi"))
                                {
                                    <tr>
                                        <td>
                                            @Html.Label(item.HastaID.ToString())
                                        </td>
                                        <td>
                                            @Html.Label(item.Adi_SoyadiH.ToString())
                                        </td>
                                        <td>
                                            @Html.Label(item.IslemAciklamasi.ToString())
                                        </td>
                                        <td>
                                            @Html.Label(item.Tarih.Day.ToString()+"/"+item.Tarih.Month.ToString()+"/"+item.Tarih.Year.ToString())
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>



<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        margin-left: 480px;
        margin-top: -170px;
    }

    div.dataTables_wrapper div.dataTables_length {
        visibility: hidden;
    }

    div.dataTables_info {
        visibility: hidden;
    }
</style>

@section SayfaiciJS{

<script>
    $.ajax({
        url: '/HastalarD.cshtml',
        type: 'post',
        data: { veriAdi: 'Veri Değeri' },
        success: function (result) {
            // Sunucu tarafından gelen cevap (result) işlenebilir.
        }
    });
    </script>
        <script>
            function getRowDataD(button) {
                var row = button.parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                var data1 = cells[0].innerText;
                var data2 = cells[1].innerText;
                document.getElementById("myLabel").textContent = data1;
                setInterval(function () {
                    oTable = $('#tablodetay').dataTable();
                    oTable.fnFilter("^" + document.getElementById("myLabel").textContent + "$", 0, true, false);
                }, 1)
            }

    </script>








}