@using Service;
@using Service.DTO;
@model IEnumerable<HastaDTO>;
@{

    IslemEkle ıslemEkle = new IslemEkle();
}
@{
    Layout = "~/Views/Shared/_Layout_Doktor.cshtml";
    ViewBag.Title = "Islem Ekle";
}
    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "İşlem ekleme başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }

<div class="pagetitle">
    <h1>İşlem Ekle</h1>
</div>
@using (Html.BeginForm("IslemEkleD", "Sayfalar", FormMethod.Post))
{
    <div class="row g-3">
        <div class="col-md-5">
            <input id="tcsearch" class="form-control" type="text" name="TC" placeholder=" TC Filtrele...">
        </div>
        <div class="col-md-5">
            <input id="tarih" class="form-control" type="text" name="Adi" placeholder=" Ad ile Filtrele...">
        </div>
        <div class="col-md-2">
            <button name="tip" class="form-control" value="5" style="background-color:lightgrey" id="searchButton">Filtrele</button>
        </div>
    </div>
}

<table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-top:30px;">
        <thead>
            <tr>
                <th class="th-sm">
                    ID
                </th>
                <th class="th-sm">
                    TC
                </th>
                <th class="th-sm">
                    Adı Soyadı
                </th>
                <th class="th-sm">
                    İletişim
                </th>
                <th class="th-sm">
                    Doğum Tarihi
                </th>
                <th class="th-sm">
                    Cinsiyet
                </th>
                <th class="th-sm">
                    İşlem Seç
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Label(item.hastaid.ToString())
                    </td>
                    <td>
                        @Html.Label(item.TC.ToString())
                    </td>
                    <td>
                        @Html.Label(item.AdiSoyadi.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Iletisim.ToString())
                    </td>
                    <td>
                        @Html.Label(item.DogumTarihi.Day.ToString()+"/"+item.DogumTarihi.Month.ToString()+"/"+item.DogumTarihi.Year.ToString())

                    </td>
                    <td>
                        @Html.Label(item.Cinsiyet.ToString())
                    </td>
                    <td>
                        <button id="btnekle" class="btn btn-primary btn-sm" onclick="getRowData(this)" data-toggle="modal" data-target="#exampleModal" >İŞLEM EKLE</button>
                   
                    </td>
                </tr>

            }

        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="content" class="modal-content" style="width:950px;margin-left:-150px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Islem Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="margin-left:0px; margin-top:30px;">
                        @using (Html.BeginForm("IslemEkleD", "Sayfalar", FormMethod.Post))
                        {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Hastaya İşlem Ekleme</h5>
                                <label> ID</label>
                                <div class="col-12">
                                    <span class="fa fa-envelope" aria-hidden="true"></span>
                                    <input class="form-control" id="label1" type="text" required="" name="hastaid" readonly />
                                </div>
                                <label> AdiSoyadi</label>
                                <div class="col-12">
                                    <span class="fa fa-lock" aria-hidden="true"></span>
                                    <input class="form-control" id="label2" type="text" required="" name="" readonly />
                                </div>
                                <label> İşlem</label>
                                <div class="col-12">
                                    <select id="ComboBox" class="form-select">
                                        @{
                                            FiyatListesi fiyatListesi1 = new FiyatListesi();
                                        }
                                        @foreach (var item1 in fiyatListesi1.Lists("select * from FiyatListesi where Islab=0"))
                                        {
                                            <option value="@item1.ProsedurID" name="prosedurid">@Html.Label(item1.Adi.ToString())</option>
                                        }
                                    </select>
                                </div>
                                <label> Doktor Açıklaması</label>
                                <div class="col-12">
                                    <span class="fa fa-lock" aria-hidden="true"></span>
                                    <input class="form-control" id="labeldr" type="datetime" name="draciklaması"  />
                                </div>
                                <input id="comboinput" name="prosedurid" style="visibility:hidden; margin-right:-100px;" />
                                <button id="btnkaydet" class="col-12 btn btn-danger btn-block" onclick="combovalue()" type="submit">Kaydet</button>
                                 </div>
                        </div>
                        }
                    @using (Html.BeginForm("IslemEkleD", "Sayfalar", FormMethod.Post))
                    {
                        <div class="card">
                            <div class="card-body" style="height: 200px;">
                                <h5 class="card-title">Hastaya Laboratuvar Ekleme</h5>
                        <div class="row g-3">
                        <div class="col-md-4">
                        <label>Laboratuvar Açıklaması</label>                        
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                                        <input class="form-control" id="3" style="resize:none" type="text" required="" name="draciklaması"> </input>
                        </div>

                        <div class="col-md-4">
                        <label > Gönderilecek Laboratuvar</label>
                                        <select class="form-select" id="ComboBox4">
                            @{
                                Laboratuvarlar lb = new Laboratuvarlar();
                            }
                            @foreach (var item1 in lb.Lists("select * from Laboratuvarlar"))
                            {
                                <option value="@item1.LabAdı" name="">@Html.Label(item1.LabAdı.ToString())</option>
                            }
                        </select>
                        </div>


                        <div class="col-md-4">
                        <label>  Lab İşlem</label>
                                        <select class="form-select" id="ComboBox2">
                            @{
                                FiyatListesi fiyatListesi2 = new FiyatListesi();
                            }
                            @foreach (var item2 in fiyatListesi2.Lists("select * from FiyatListesi where Islab=1"))
                            {
                                <option value="@item2.ProsedurID" name="prosedurid">@Html.Label(item2.Adi.ToString())</option>
                            }
                        </select>
                        </div>
                        <button id="btnkaydet" class="btn btn-warning btn-block" onclick="combovalue1()" type="submit" >Laboratuvar Kaydet</button>

                        <div style="visibility:hidden; class="input-group">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            <textarea id="label3" style="resize:none" type="text" required="" name="hastaid"> Kişi Seçmediniz</textarea>
                        </div>
                        <input id="inputlab" name="islab" style="visibility:hidden; margin-right:-100px;" />
                        <input id="comboinput1" name="prosedurid" style="visibility:hidden; margin-right:-100px;" />
                        <input id="comboinput4" name="labadı" style="visibility:hidden; margin-right:-100px;" />
                         </div>
                            </div>
                        </div>
                    }

                        </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Lab Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   

                </div>
            </div>
        </div>
    </div>

@section SayfaiciJS{

<script>
    function combovalue1() {
        var comboBox1 = document.getElementById("ComboBox2");
        var selectedOptionValue1 = comboBox1.value;
        var inp3 = document.getElementById("comboinput1");
        var inp4 = document.getElementById("inputlab");
        inp4.value = 1;
        inp3.value = selectedOptionValue1;
        var comboBox4 = document.getElementById("ComboBox4");
        var selectedOptionValue4 = comboBox4.value;
        var inp5 = document.getElementById("comboinput4");
        inp5.value = selectedOptionValue4;
    }
</script>
    <script>
        function getRowData(button) {
            var row = button.parentNode.parentNode;

            var cells = row.getElementsByTagName("td");

            var data1 = cells[0].innerText;
            var data2 = cells[1].innerText;
            var data3 = cells[2].innerText;
            var data4 = cells[3].innerText;
            var data5 = cells[4].innerText;

            var lbl = document.getElementById("label1");
            var lbl1 = document.getElementById("label2");
            var lbl3 = document.getElementById("label3");

            lbl.value = data1;
            lbl1.value = data3;
            lbl3.value = data1;




        }
        function showof() {
            let element1 = document.getElementById("divlab");
            let hidden1 = element1.getAttribute("hidden");
            let elem2 = document.getElementById("content");
            let sty1 = elem2.getAttribute("style");

            if (hidden1) {
                element1.removeAttribute("hidden");
                elem2.setAttribute("style", "width: 750px; height: 690px; ")

            } else {
                elem2.removeAttribute("style");
                element1.setAttribute("hidden", "hidden");
            }



        }


    </script>

}

<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }

    div.dataTables_info {
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }
</style>





