@{
    Layout = "~/Views/Shared/_Layout_HastaKayit.cshtml";
    ViewBag.Title = "Laboratuvar";
    string stylelab = "";
}
@using Service;
@using Service.DTO;
@model IEnumerable<LabDTO>;

<div class="pagetitle">
    <h1>Laboratuvar</h1>
</div>
@using (Html.BeginForm("LaboratuvarHK", "Sayfalar", FormMethod.Post))
{
    <div class="row g-3">
        <div class="col-md-8">
            <input id="tarih" class="form-control" type="text" name="Durum" placeholder=" Laboratuvar Durumu ile Filtrele...">
        </div>
        <div class="col-md-4">
            <button name="tip" class="form-control" value="5" style="background-color:lightgrey" id="searchButton">Filtrele</button>
        </div>
    </div>
}
<table id="tablo1" class="table table-hover" style="margin-top:30px;">
    <thead>
        <tr>
            <th class="th-sm">
                Hasta Adı
            </th>
            <th class="th-sm">
                Hasta İletişim
            </th>
            <th class="th-sm">
                Test Adı
            </th>
            <th class="th-sm">
                Test Merkezi
            </th>
            <th class="th-sm">
                Durum
            </th>
            <th class="th-sm">
                Laborotuvar İletişim
            </th>

        </tr>
    </thead>
    <tbody>
        @{
            Lab hasta1 = new Lab();
        }
        @foreach (var item in Model)
        {
            if (item.LabDurum == "Kabul Edildi")
            {
                stylelab = "background-color:lawngreen ";
            }
            else if (item.LabDurum == "Gönderildi")
            {
                stylelab = "background-color:yellow ";
            }
            else
            {
                stylelab = "";
            }
            <tr>
                @{
                    Hasta hst = new Hasta();
                }
                @foreach (var it in hst.Lists("select h.HastaID,h.IslemiYapan,h.TC,h.AdiSoyadi,h.DogumTarihi,h.Iletisim,h.KayıtTarihi,h.Email,h.Adres,h.Status,h.Cinsiyet from vw_IslemlerDR v join Hasta h on h.HastaID=v.HastaID  Where IslemID=" + item.LabID))
                {
                    <td style="@stylelab">
                        <label>@it.AdiSoyadi</label>

                    </td>
                    <td style="@stylelab">
                        @Html.Label(it.Iletisim.ToString())
                    </td>
                }
                <td style="@stylelab">
                    @Html.Label(item.LabTestAdi.ToString())
                </td>
                <td style="@stylelab">
                    @Html.Label(item.LabAdı.ToString())
                </td>
                <td style="@stylelab">
                    @Html.Label(item.LabDurum.ToString())
                </td>
                <td style="@stylelab">
                    @Html.Label(item.Iletisim.ToString())
                </td>
            </tr>

        }

    </tbody>
</table>
   
<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }

    div.dataTables_info {
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }

</style>
