@using Service;
@{
    Layout = "~/Views/Shared/_Layout_Lab.cshtml";
    ViewBag.Title = "Laboratuvar";
}
<head>

    <h2 style="text-align:center;margin-top:-50px;">Laboratuvar</h2>
    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "Lab Güncelleme başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function success() {
        Swal.fire({
            icon: 'success',
            title: 'Başarılı!',
            text: 'İşlem başarıyla tamamlandı.',
        });
    }
    function failed() {
        Swal.fire({
            icon: 'error',
            title: 'Başarısız!',
            text: 'İşlem başarısız',
        });
    }


</script>



    <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="">
        <thead>
            <tr>
                <th class="th-sm">
                    Lab ID
                </th>
                <th class="th-sm">
                    Test Adı
                </th>
                <th class="th-sm">
                    Test Merkezi
                </th>
                <th class="th-sm">
                    Durum
                </th>
                <th class="th-sm">

                </th>

            </tr>
        </thead>
        <tbody>
            @{
                Lab hasta1 = new Lab();
            }
            @foreach (var item in hasta1.Lists("select * from Lab"))
            {
                <tr>
                    <td>
                        @Html.Label(item.LabID.ToString())
                    </td>
                    <td>
                        @Html.Label(item.LabTestAdi.ToString())
                    </td>
                    <td>
                        @Html.Label(item.LabAdı.ToString())
                    </td>
                    <td>
                        @Html.Label(item.LabDurum.ToString())
                    </td>
                    <td>
                            @using (Html.BeginForm("Laboratuvar", "Sayfalar", FormMethod.Post))
                            {

                            <textarea id="label" style="resize:none; visibility:hidden;" type="text" required="" name="LabID">@item.LabID</textarea>
                            <textarea id="label3" style="resize:none;visibility:hidden;" type="text" name="">test</textarea>
                            <button class="btn btn-danger btn-block" name="LabDurum" value="Kabul Edildi" type="submit" style="display:inline; margin-left:-330px; margin-top:-50px;">Kabul Edildi</button>
                            <button class="btn btn-danger btn-block" name="LabDurum" value="Gönderildi" type="submit" style="display:inline; margin-top:-50px; margin-left:0px;">Gönderildi</button>
                            <button class="btn btn-danger btn-block" name="LabDurum" value="İptal Edildi" type="submit" style="display:inline; margin-top:-50px; margin-left:0px;">İptal Edildi</button>
                            }
                    </td>
                </tr>

            }

        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Islem Ekle</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                </div>
                <div class="modal-body">
                    <table>
                        
                    </table>
                    

                </div>
            </div>
        </div>
    </div>





<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }

    div.dataTables_info {
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }

</style>