@using Service;
@{
    Layout = "~/Views/Shared/_Layout_Doktor.cshtml";
    ViewBag.Title = "Laboratuvar";
    string stylelab = "";
}

    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"] == "Lab Güncelleme başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }

<script>
    
    function lb(button) {
        var row = button.parentNode.parentNode;

        var cells = row.getElementsByTagName("td");

        var data1 = cells[0].innerText;
    }
</script>


    <table id="tablo1" class="table table-hover" style="margin-left:0px;">
        <thead>
            <tr>
                <th class="th-sm">
                    Hasta Adı
                </th>
                <th class="th-sm">
                    Hasta İletişim
                </th>
                <th class="th-sm">
                    Test Adı
                </th>
                <th class="th-sm">
                    Test Merkezi
                </th>
                <th class="th-sm">
                    Durum
                </th>
                <th class="th-sm">
                    Laborotuvar İletişim
                </th>

            </tr>
        </thead>
        <tbody>
            @{
                Lab hasta1 = new Lab();
            }
            @foreach (var item in hasta1.Lists("select * from Lab"))
            {
                if (item.LabDurum == "Kabul Edildi")
                {
                    stylelab = "background-color:lawngreen ";
                }
                else if (item.LabDurum == "Gönderildi")
                {
                    stylelab = "background-color:yellow ";
                }
                else
                {
                    stylelab = "";
                }
                <tr>
                    @{
                        Hasta hst = new Hasta();
                    }
                    @foreach (var it in hst.Lists("select h.HastaID,h.IslemiYapan,h.TC,h.AdiSoyadi,h.DogumTarihi,h.Iletisim,h.KayıtTarihi,h.Email,h.Adres,h.Status,h.Cinsiyet from vw_IslemlerDR v join Hasta h on h.HastaID=v.HastaID  Where IslemID=" + item.LabID))
                    {
                        <td style="@stylelab">
                            <label>@it.AdiSoyadi</label>

                        </td>
                        <td style="@stylelab">
                            @Html.Label(it.Iletisim.ToString())
                        </td>
                    }
                    <td style="@stylelab">
                        @Html.Label(item.LabTestAdi.ToString())
                    </td>
                    <td style="@stylelab">
                        @Html.Label(item.LabAdı.ToString())
                    </td>
                    <td style="@stylelab">
                        @Html.Label(item.LabDurum.ToString())
                    </td>
                    <td style="@stylelab">
                        @Html.Label(item.Iletisim.ToString())
                    </td>
                </tr>

            }

        </tbody>
    </table>
    
<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        margin-left: 480px;
    }

    div.dataTables_wrapper div.dataTables_length {
        margin-left: 90px;
    }

    div.dataTables_info {
        visibility: hidden;
    }

</style>
