@using Service;
@model string;
@{
    Layout = "~/Views/Shared/_Layout_Yonetici.cshtml";
    ViewBag.Title = "Faturalar";
}
<script>
    function getRowData123(button) {
        var row = button.parentNode.parentNode;

        var cells = row.getElementsByTagName("td");

        var data1 = cells[0].innerText;

        document.getElementById("myLabel").textContent = data1;

    };


</script>


    @if (TempData["AlertMessage"] != null)
    {
        if(TempData["AlertMessage"] == "Gider ekleme Başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }
    <h1 style="">Faturalar</h1>

    <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="">
        <thead>
            <tr>
                <th class="th-sm">
                    Fatura ID
                </th>
                <th class="th-sm">
                    Adı Soyadı
                </th>
                <th class="th-sm">
                    Tutar
                </th>
                <th class="th-sm">
                    Tarih
                </th>
                <th class="th-sm">
                    
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                VW_Faturalar hasta1 = new VW_Faturalar();
            }
            @foreach (var item in hasta1.Lists("select * from vw_Faturalar"))
            {
                <tr>
                    <td>
                        @Html.Label(item.FaturaID.ToString())
                    </td>
                    <td>
                        @Html.Label(item.AdiSoyadi.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Ucret.ToString())
                    </td>
                    <td>
                        @Html.Label(item.Tarih.Day.ToString()+"/"+item.Tarih.Month.ToString()+"/"+item.Tarih.Year.ToString()+"    "+item.Tarih.Hour.ToString()+":"+item.Tarih.Minute.ToString())
                    </td>
                    <td>

                    @using (Html.BeginForm("MaliDurumY", "Sayfalar", FormMethod.Post, new { style = "display: inline;" }))
                    {
                        <form style="display:inline;">
                            <button id="bt" class="btn btn-primary btn-danger" value="@item.FaturaID" name="id">Sil</button>
                        </form>
                        
                    }
                        <button id="btsil" class="btn btn-primary btn-warning" style="display:inline-block" data-toggle="modal" data-target="#exampleModal" onclick="getRowData123(this)">Detay</button>

                    </td>
                </tr>

            }

        </tbody>
    </table>
 
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Fatura Detay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        
                        <table id="myTable" class="table table-bordered table-striped">
                            <label hidden="hidden" id="myLabel"></label>
                            <thead>
                                <tr>
                                    <th>Fatura ID</th>
                                    <th>Adı Soyadı</th>
                                    <th>Islem Açıklaması</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    VW_FatureDetay fatura = new VW_FatureDetay();
                                }
                                @foreach (var item in fatura.Lists("select * from vw_FaturaDetay"))
                                {
                                    <tr>
                                        <td>
                                            @Html.Label(item.FaturaID.ToString())
                                        </td>
                                        <td>
                                            @Html.Label(item.AdiSoyadi.ToString())
                                        </td>
                                        <td>
                                            @Html.Label(item.IslemAciklamasi.ToString())
                                        </td>
    
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
 

            </div>
        </div>
    </div>
    </div>
        

<style>
    /* Custom CSS to move the search bar to the right */

    div.dataTables_wrapper div.dataTables_filter {
        visibility: hidden;
    }
    div.dataTables_wrapper div.dataTables_length {
        visibility: hidden;
    }

    div.dataTables_info {
        visibility: hidden;
    }


</style>