@using Service;
@using Service.DTO;

@{
    Layout = "~/Views/Shared/_Layout_HastaKayit.cshtml";
    ViewBag.Title = "Randevu Görüntüle";
}

@if (TempData["AlertMessage"] != null)
{
    if (TempData["AlertMessage"].ToString() == "Randevu silme Başarısız")
    {

        <body onload="failed()">
        </body>
    }
    else
    {
        <body onload="success()">
        </body>

    }
}
<div class="pagetitle">
    <h1>Randevu Görüntüle</h1>
</div>
    <nav >
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-0-tab" data-bs-toggle="tab" data-bs-target="#nav-0" type="button" role="tab" aria-controls="nav-0" aria-selected="true">Güncel Randevular </button>
            <button class="nav-link" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1" aria-selected="false">Geçmiş Randevular </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" >
        <div class="tab-pane fade show active" id="nav-0" role="tabpanel" aria-labelledby="nav-0-tab">
            <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-left:10px; margin-top:-20px;">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Hasta Adı Soyadı
                        </th>
                        <th class="th-sm">
                            Hasta TC
                        </th>
                        <th class="th-sm">
                            Doktor Adı Soyadı
                        </th>
                        <th class="th-sm">
                            Bölüm
                        </th>
                        <th class="th-sm">
                            Tarih
                        </th>
                        <th class="th-sm">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        RandevuHasta rnd = new RandevuHasta();
                    }
                    @foreach (var item1 in rnd.Lists("select RandevuID,HastaID,R.DoktorID,R.TC,R.AdiSoyadi,Tarih,Uzmanlık,C.AdiSoyadi as dradi from vw_Randevu R join Doktor D on D.DoktorID=R.DoktorID join Calisan C on c.CalisanID=D.DoktorID where Tarih>Getdate() "))
                    {
                        <tr>
                            <td>
                                @Html.Label(item1.AdiSoyadi.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.TC.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.DoktorAdi.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.Uzmanlık.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.Tarih.Day.ToString()+"/"+item1.Tarih.Month.ToString()+"/"+item1.Tarih.Year.ToString()+"  "+item1.Tarih.Hour.ToString()+":"+item1.Tarih.ToString("mm"))
                            </td>
                            <td>
                            <button id="rid" class="btn btn-danger" type="submit" data-toggle="modal" data-target="#exampleModal" onclick="vl1(this)">Sil</button>
                            </td>
                        </tr>

                    }

                </tbody>

            </table>
        </div>
        <div class="tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
            <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-left:10px; margin-top:20px;">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Hasta Adı Soyadı
                        </th>
                        <th class="th-sm">
                            Hasta TC
                        </th>
                        <th class="th-sm">
                            Doktor Adı Soyadı
                        </th>
                        <th class="th-sm">
                            Bölüm
                        </th>
                        <th class="th-sm">
                            Tarih
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @{
                        RandevuHasta rnd1 = new RandevuHasta();
                    }
                    @foreach (var item1 in rnd1.Lists("select RandevuID,HastaID,R.DoktorID,R.TC,R.AdiSoyadi,Tarih,Uzmanlık,C.AdiSoyadi as dradi from vw_Randevu R join Doktor D on D.DoktorID=R.DoktorID join Calisan C on c.CalisanID=D.DoktorID where Tarih<Getdate()"))
                    {
                        <tr>
                            <td>
                                @Html.Label(item1.AdiSoyadi.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.TC.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.DoktorAdi.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.Uzmanlık.ToString())
                            </td>
                            <td>
                                @Html.Label(item1.Tarih.Day.ToString()+"/"+item1.Tarih.Month.ToString()+"/"+item1.Tarih.Year.ToString()+"  "+item1.Tarih.Hour.ToString()+":"+item1.Tarih.ToString("mm"))
                            </td>

                        </tr>

                    }

                </tbody>

            </table>
        </div>
    </div>
    <div style="margin-top:100px">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 900px; margin-left:-250px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Randevu Sil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-top:0px">
                            <div>
                                @using (Html.BeginForm("RandevuGRNThk", "Sayfalar", FormMethod.Post))
                                {
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Randevu Sil</h5>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"> Hasta Adı</label>
                                    <div class="col-12">
                                            <span class="fa fa-envelope" aria-hidden="true"></span>
                                            <textarea class="form-control" id="hstadi" style="resize:none" type="text" required="" name="" disabled></textarea>
                                        </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"> Doktor Adı</label>
                                    <div class="col-12">
                                            <span class="fa fa-envelope" aria-hidden="true"></span>
                                        <textarea class="form-control" id="labeldr" style="resize:none" type="text" required="" name="" disabled></textarea>
                                        </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"> Bölüm Adı</label>
                                    <div class="col-12">
                                            <span class="fa fa-envelope" aria-hidden="true"></span>
                                        <textarea class="form-control" id="labeluzman" style="resize:none" type="text" required="" name="" disabled></textarea>
                                        </div>
                                 </div>
                                 <div class="row mb-3">
                                    <label class="col-sm-2 col-form-label"> Randevu Tarihi</label>
                                    <div class="col-12">
                                            <span class="fa fa-envelope" aria-readonly="true"></span>
                                            <textarea  class="form-control" id="Tarih" style="resize:none; user-select: none;" type="text" required="" name="Tarih" readonly></textarea>
                                        </div>
                                 </div>
                                        <textarea id="tc" style="visibility:hidden" type="text" required="" name="TC" readonly></textarea>
                                    <button class="col-md-4 btn btn-danger" style="margin-left:45px"  name="" value="">Randevuyu Sil</button>

                                    
                                    </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        visibility: hidden;
    }

    div.dataTables_wrapper div.dataTables_length {
        visibility: hidden;
    }
</style>

@section SayfaiciJS{
    <script>
        function vl1(button) {
            var row = button.parentNode.parentNode;

            var cells = row.getElementsByTagName("td");

            var data1 = cells[2].innerText;
            var data2 = cells[3].innerText;
            var data3 = cells[4].innerText;
            var data4 = cells[0].innerText;
            var data5 = cells[1].innerText;
            var d6 = cells[5].value;


            var lbl = document.getElementById("labeldr");
            var lbl1 = document.getElementById("labeluzman");
            var lbl3 = document.getElementById("Tarih");
            var lbl4 = document.getElementById("hstadi");
            var lbl5 = document.getElementById("hstTC");
            var lbl6 = document.getElementById("tc");

            lbl.value = data1;
            lbl1.value = data2;
            lbl3.value = data3;
            lbl4.value = data4;
            lbl6.value = data5;




        }


    </script>
}
