@using Service;
@using Service.DTO;

@{
    string id = ViewBag.id;
    Layout = "~/Views/Shared/_Layout_HastaKayit.cshtml";
    ViewBag.Title = "Randevular";
}
    <script>
        function strdiv() {
            let element1 = document.getElementById("saatler");
            let hidden1 = element1.getAttribute("hidden");

            if (hidden1) {
                element1.removeAttribute("hidden");


            } else {
                element1.setAttribute("hidden", "hidden");
            }

        }

    </script>
    <script>

        function date1(value) {
            var tarih1 = document.getElementById("Tarih");
            tarih1.value = value;

        }
    </script>

    @if (TempData["AlertMessage"] != null)
    {
        if (TempData["AlertMessage"].ToString() == "Randevu Alma İşlemi Başarısız")
        {

            <body onload="failed()">
            </body>
        }
        else
        {
            <body onload="success()">
            </body>

        }


    }


    @{
        List<RandevuTarihDTO> lst = new List<RandevuTarihDTO>();
        string str2 = "visibility:hidden;";
        string str1 = "visibilty:visible;";
        DateTime today = DateTime.Today;
        byte count = 0;
        DateTime[] futureDates = new DateTime[10];
        for (int i = 0; i < 10; i++)
        {
            futureDates[i] = today.AddDays(i + 1);
        }
        if (TempData["Doktorid"] != null)
        {
            str1 = " display:none";
            str2 = "";

            RandevuTarih randevu = new RandevuTarih();

            lst = randevu.Lists("exec sp_boşrandevubul " + TempData["Doktorid"]);
        }
        else
        {


        }

    }

<div class="pagetitle">
    <h1>Hasta İçin Randevu Al</h1>
</div>
    <div style="@str1">
        <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-top:30px;" >
            <thead>
                <tr>
                    <th class="th-sm">
                        Doktor Adı
                    </th>
                    <th class="th-sm">
                        Uzmanlık
                    </th>
                    <th class="th-sm">
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    VW_Doktorlar dr = new VW_Doktorlar();
                }
                @foreach (var item in dr.Lists("select * from VW_Doktorlar"))
                {
                    <tr>
                        <td>
                            <label>@item.AdiSoyadi</label>
                        </td>
                        <td>
                            <label>@item.Uzmanlık</label>
                        </td>
                        <td>

                            @using (Html.BeginForm("RandevularHK", "Sayfalar", FormMethod.Post))
                            {

                                <button id="btnekle" class="btn btn-primary btn-sm" name="doktorid" value="@item.DoktorID">Doktor Seç</button>
                            }


                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>




    <div id="saatler" style="@str2">

        <label >@TempData["Uzmanlık"]</label>
        <label>  --  Diş Hekimi @TempData["drAdi"]</label>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-0-tab" data-bs-toggle="tab" data-bs-target="#nav-0" type="button" role="tab" aria-controls="nav-0" aria-selected="true">@futureDates[0].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1" aria-selected="false">@futureDates[1].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-2-tab" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-2" aria-selected="false">@futureDates[2].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-3-tab" data-bs-toggle="tab" data-bs-target="#nav-3" type="button" role="tab" aria-controls="nav-3" aria-selected="false">@futureDates[3].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-4-tab" data-bs-toggle="tab" data-bs-target="#nav-4" type="button" role="tab" aria-controls="nav-4" aria-selected="false">@futureDates[4].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-5-tab" data-bs-toggle="tab" data-bs-target="#nav-5" type="button" role="tab" aria-controls="nav-5" aria-selected="false">@futureDates[5].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-6-tab" data-bs-toggle="tab" data-bs-target="#nav-6" type="button" role="tab" aria-controls="nav-6" aria-selected="false">@futureDates[6].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-7-tab" data-bs-toggle="tab" data-bs-target="#nav-7" type="button" role="tab" aria-controls="nav-7" aria-selected="false">@futureDates[7].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-8-tab" data-bs-toggle="tab" data-bs-target="#nav-8" type="button" role="tab" aria-controls="nav-8" aria-selected="false">@futureDates[8].ToString("dd/MM/yyyy") </button>
                <button class="nav-link" id="nav-9-tab" data-bs-toggle="tab" data-bs-target="#nav-9" type="button" role="tab" aria-controls="nav-9" aria-selected="false">@futureDates[9].ToString("dd/MM/yyyy") </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" >
            <div class="tab-pane fade show active" id="nav-0" role="tabpanel" aria-labelledby="nav-0-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[0].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[1].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[2].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav-3-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[3].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-4" role="tabpanel" aria-labelledby="nav-4-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[4].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-5" role="tabpanel" aria-labelledby="nav-5-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[5].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-6" role="tabpanel" aria-labelledby="nav-6-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {

                            if (item.Tarih.Day == futureDates[6].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }


                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-7" role="tabpanel" aria-labelledby="nav-7-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[7].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-8" role="tabpanel" aria-labelledby="nav-8-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[8].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-9" role="tabpanel" aria-labelledby="nav-9-tab">
                <div class="container">
                    <div class="row row-cols-6">
                        @{
                            count = 0;
                        }
                        @foreach (var item in lst)
                        {
                            if (item.Tarih.Day == futureDates[9].Day)
                            {
                                count++;
                                <div style="margin-top:25px;" class="col"><button class=" btn btn-warning" onclick="date1(this.value)" data-toggle="modal" data-target="#exampleModal" value="@item.Tarih">@item.Tarih.ToString("HH:mm") </button></div>
                            }
                        }
                        @if (count == 0)
                        {
                            <label>Bugün için uygun Randevu Bulunmamaktadır</label>

                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Randevu Al</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                </div>
                <div class="modal-body">
                    @{
                        VW_Doktorlar dr1 = new VW_Doktorlar();

                    }
                    @try
                    {
                        if (TempData["Doktorid"] == null) { TempData["Doktorid"] = 0; }
                        @foreach (var item in dr1.Lists("select * from VW_Doktorlar where DoktorID=" + TempData["Doktorid"].ToString()))
                        {
                            @using (Html.BeginForm("RandevularHK", "Sayfalar", FormMethod.Post))
                            {
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Randevu Al</h5>
                                    <label> Adı Soyadı</label>
                                    <div class="col-12">
                                        <span class="fa fa-lock" aria-hidden="true"></span>
                                        <input id="label1" style="resize:none" type="text" required="" name="" readonly value="@TempData["TCname"].ToString()">
                                    </div>
                                    <label> Diş Hekimi Adı</label>
                                    <div class="col-12">
                                        <span class="fa fa-lock" aria-hidden="true"></span>
                                        <input id="label1" style="resize:none" type="text" required="" name="" readonly value="@item.AdiSoyadi">
                                    </div>
                                    <label> Uzmanlık</label>
                                    <div class="col-12">
                                        <span class="fa fa-lock" aria-hidden="true"></span>
                                        <input id="label1" style="resize:none" type="text" required="" name="" readonly value="@item.Uzmanlık">
                                    </div>
                                    <label> Tarih</label>
                                    <div class="col-12">
                                        <span class="fa fa-envelope" aria-hidden="true"></span>
                                        <input id="Tarih" style="resize:none; user-select: none;" type="text" required="" name="Tarih" readonly>
                                    </div>
                                    <input id="label" style="visibility:hidden" type="text" required="" name="DoktorID" readonly value="@TempData["Doktorid"]">
                                    <input id="label" style="visibility:hidden" type="text" required="" name="HastaID" readonly value="@TempData["TChid"].ToString()">
                                    <button class="btn btn-danger btn-block" name="type" value="1" type="submit">Kaydet</button>
                                </div>
                            </div>
                            }
                        }
                    }
                    catch
                    {

                    }

                </div>
            </div>
        </div>
    </div>







<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        margin-left: 480px;
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        margin-left: 90px;
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }
</style>