@using Service;
@using Service.DTO;
@model IEnumerable<VW_FaturalarDTO>;
@{

    Layout = "~/Views/Shared/_Layout_HastaKayit.cshtml";
    ViewBag.Text = "Ödeme İşlemleri";
}
<h1 style="">Ödemeler</h1>
@using (Html.BeginForm("YöneticiAnaSayfa", "Sayfalar", FormMethod.Post))
{
    <div class="row g-3">
        <div class="col-md-3">
            <input id="tcsearch" class="form-control" type="text" name="faturaid" placeholder=" FaturaID ile Filtrele...">
        </div>
        <div class="col-md-3">
            <input id="tarih" class="form-control" type="text" name="Adi" placeholder=" Ad ile Filtrele...">
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" name="dates">
        </div>
        <div class="col-md-3">
            <button name="tip" class="form-control btn-sm" value="5" style="background-color:lightgrey" id="searchButton">Filtrele</button>
        </div>
    </div>
}

<table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-top:30px;">
    <thead>
        <tr>
            <th class="th-sm">
                Fatura ID
            </th>
            <th class="th-sm">
                Adı Soyadı
            </th>
            <th class="th-sm">
                Tutar
            </th>
            <th class="th-sm">
                Tarih
            </th>
            <th class="th-sm">

            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Label(item.FaturaID.ToString())
                </td>
                <td>
                    @Html.Label(item.AdiSoyadi.ToString())
                </td>
                <td>
                    @Html.Label(item.Ucret.ToString())
                </td>
                <td>
                    @Html.Label(item.Tarih.Day.ToString()+"/"+item.Tarih.Month.ToString()+"/"+item.Tarih.Year.ToString()+"    "+item.Tarih.Hour.ToString()+":"+item.Tarih.Minute.ToString())
                </td>
                <td>

                    @using (Html.BeginForm("YöneticiAnaSayfa", "Sayfalar", FormMethod.Post, new { style = "display: inline;" }))
                    {
                        <form style="display:inline;">
                            <button id="bt" class="btn btn-primary btn-danger btn-sm" value="@item.FaturaID" name="id">Ödeme Al</button>
                        </form>

                    }
                    <button id="btsil" class="btn btn-primary btn-warning btn-sm" style="display:inline-block" data-toggle="modal" data-target="#exampleModal" onclick="getRowData123(this)">Detay</button>

                </td>
            </tr>

        }

    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Fatura Detay</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <table id="myTable" class="table table-bordered table-striped">
                        <label hidden="hidden" id="myLabel"></label>
                        <thead>
                            <tr>
                                <th>Fatura ID</th>
                                <th>Adı Soyadı</th>
                                <th>Islem Açıklaması</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                VW_FatureDetay fatura = new VW_FatureDetay();
                            }
                            @foreach (var item in fatura.Lists("select * from vw_FaturaDetay"))
                            {
                                <tr>
                                    <td>
                                        @Html.Label(item.FaturaID.ToString())
                                    </td>
                                    <td>
                                        @Html.Label(item.AdiSoyadi.ToString())
                                    </td>
                                    <td>
                                        @Html.Label(item.IslemAciklamasi.ToString())
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>
</div>


<style>
    /* Custom CSS to move the search bar to the right */

    div.dataTables_wrapper div.dataTables_filter {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }

    div.dataTables_info {
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }

</style>
@section SayfaiciJS{
    <script>
        function getRowData123(button) {
            var row = button.parentNode.parentNode;

            var cells = row.getElementsByTagName("td");

            var data1 = cells[0].innerText;

            document.getElementById("myLabel").textContent = data1;

        };
        setInterval(function () {
            oTable = $('#myTable').dataTable();
            oTable.fnFilter("^" + document.getElementById("myLabel").textContent + "$", 0, true, false);
        }, 1);

    </script>
    <script type="text/javascript">

        $('input[name="dates"]').daterangepicker();
    </script>

}

    


