@using Service;
@using Service.DTO;
@{
    Layout = "~/Views/Shared/_Layout_Hasta.cshtml";
    ViewBag.Title = "Ziyaretlerim";
    string id = ViewBag.id;
}

<div class="pagetitle">
    <h1>Ziyaretlerim</h1>
</div>

    <label id="label1"></label>
    <div style="margin-top:-40px">
        <table id="tablo1" class="table table-striped table-bordered dt-resposive nowrap" style="margin-left:0px; margin-top:30px;">
            <thead>
                <tr>
                    <th class="th-sm">
                        Adı Soyadı
                    </th>
                    <th class="th-sm">
                        Tutar
                    </th>
                    <th class="th-sm">
                        Tarih
                    </th>
                    <th class="th-sm">

                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    VW_Faturalar hasta1 = new VW_Faturalar();
                }
                @foreach (var item in hasta1.Lists("select * from vw_Faturalar where HastaID="+@id))
                {
                    <tr>
                        <td>
                            @Html.Label(item.AdiSoyadi.ToString())
                        </td>
                        <td>
                            @Html.Label(item.Ucret.ToString())
                        </td>
                        <td>
                            @Html.Label(item.Tarih.Day.ToString()+"/"+item.Tarih.Month.ToString()+"/"+item.Tarih.Year.ToString()+"    "+item.Tarih.Hour.ToString()+":"+item.Tarih.Minute.ToString())
                        </td>
                        <td>

                            <button id="btsil" class="btn btn-primary btn-warning" value="@item.FaturaID" data-toggle="modal" data-target="#exampleModal" onclick="getRowData123(this)">İşlemlerim</button>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Fatura Detay</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">

                            <table id="myTable" class="table table-bordered table-striped">
                                <label hidden="hidden" id="myLabel"></label>
                                <thead>
                                    <tr>
                                        <th>Fatura ID</th>
                                        <th>Adı Soyadı</th>
                                        <th>Islem Açıklaması</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        VW_FatureDetay fatura = new VW_FatureDetay();
                                    }
                                    @foreach (var item in fatura.Lists("select * from vw_FaturaDetay"))
                                    {
                                        <tr>
                                            <td>
                                                @Html.Label(item.FaturaID.ToString())
                                            </td>
                                            <td>
                                                @Html.Label(item.AdiSoyadi.ToString())
                                            </td>
                                            <td>
                                                @Html.Label(item.IslemAciklamasi.ToString())
                                            </td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    /* Custom CSS to move the search bar to the right */
    div.dataTables_wrapper div.dataTables_filter {
        margin-left: 480px;
        margin-top: -170px;
        display:none;
    }

    div.dataTables_wrapper div.dataTables_length {
        display: none;
    }

    div.dataTables_info {
        display: none;
    }

    .table > :not(caption) > * > * {
        padding: .3rem .3rem;
    }
</style>
@section SayfaiciJS{
<script>
    $.ajax({
        url: '/HastalarD.cshtml',
        type: 'post',
        data: { veriAdi: 'Veri Değeri' },
        success: function (result) {
            // Sunucu tarafından gelen cevap (result) işlenebilir.
        }
    });
</script>


    <script>
        function getRowData123(button) {


            var data1 = document.getElementById("btsil").value;

            document.getElementById("myLabel").textContent = data1;



            // Loop through all table rows, and hide those who don't match the search query




            // ... Diğer işlemler ...
        };
        setInterval(function () {
            oTable = $('#myTable').dataTable();


            oTable.fnFilter(document.getElementById("myLabel").textContent);
        }, 1)



    </script>
}